@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
  --font-mono: var(--font-jetbrains);
  
  --color-slate-950: #020617;
  --color-indigo-500: #6366f1;
  --color-emerald-500: #10b981;
}

:root {
  --background: #020617;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
